/**{
  border: 1px solid black;
}*/

html, body{
  background-color: #94b9db;
}


#page{
  width:70%;
  min-height:1080px;
  margin:auto;
  background-color: white;
}

header{
  background-color: white;
  height: 80px;
  font-family:arial, helvetica, sans-serif;
}

#top-navigation-container{
  text-align: center;
  background-color:white;
  margin-left: auto;
  margin-right: auto;
  height:100%;
}

#logo{
  float:left;
  font-size: 60px;
  padding-left:75px;
  height: 100%;
}

#logo>img{
  max-width:100%;
  max-height:100%;
}

#top-button-wrapper{
  float:right;
  height:100%;
}

.top-navigation-button{
  color:black;
  height:100%;
  font-size: 18px;
  width:140px;
  display:inline-block;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.top-navigation-button.active{
  background-color: #3f6798;
}

.top-navigation-button.active div {
    color:white;
}

.top-navigation-button.inactive{
  background-color: white;
}

.top-navigation-button.inactive div {
    color:black;
}

.top-navigation-button>div{
  position:relative;
  top:35%;
}

#body-wrapper{
  background-color: white;
  display:block;
  min-height: 100%;
}

#left-column{
  float:left;
  width:15%;
  display: inline;
  position: fixed;
  top:150px;
  }

#left-column div a{
  display: inline-block;
  clear:left;
  padding-top:5px;
}

#main{
  background-color: white;
  height:100%;
  display: block;
  text-align: center;
}

.content_container{
  display: block;
  clear: both;
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: arial,times;
}

.contact_content{
  display: inline-block;
  width: 400px;
  vertical-align: top;
  background-color: #f3f6fa;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-bottom: 25px;
}

#map-canvas{
  display: block;
  float: left;
  width: 380px;
  height: 300px;
  margin-left: 10px;
}

#contact_title{
  padding: 10px;
  margin-bottom: 10px;
  background-color: #8bb204;
  color: white;
  min-height: 50px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

#contact_title div{
  margin-top: 10px;
  font-size: 24px;
  vertical-align: middle;
}

#phone_container{
  text-align: center;
  margin-right: 75px;
}

#phone_container #contact_title{
  background-color: #5d8ec1;
}


#phone_container table{
  margin-top: 25px;
  width: 100%;
}

#phone_container table td{
  padding-bottom: 10px;
}

.mail_element{
  display:block;
  text-align: left;
  width: 80%;
  padding: 10px 0 10px 0;
  margin-left: 25px;
}

#mail_container > form > input:nth-child(11){
  margin-top: 10px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  background-color: #e4471a;
  color: white;
  border-color: white;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
}


#social-sharing{
  display:block;
  clear: both;
  padding-left: 100px;
}

footer{
  background-color: white;
  width:70%;
  margin:auto;
  height:auto;
  position:fixed;
  bottom:0px;
}

#bot-button-wrapper{
  width:auto;
  margin:auto;
  display:block;
  text-align: center;
  border-top: 1px solid red;
}

.bot-navigation-button{
  color:black;
  font-size: 16px;
  height:auto;
  width:auto;
  display:inline;
  margin-left: 10px;
  margin-right: 10px;
}

#ewish{
  padding-top: 3px;
  font-size: 12px;
}

@media only screen and (max-width: 1850px) {
    .top-navigation-button{
          color:black;
          font-size: 16px;
          width:100px;
          margin-left:10px;
          margin-right:10px;
          display:inline-block;
    }
}

@media only screen and (max-width: 1300px) {
    .top-navigation-button{
          display: none;
    }
}