body{
  background-color: #046791;
}


#page{
  width:80%;
  margin:auto;
  background-color: white;
}

header{
  background-color: white;
  height: 80px;
  font-family:arial, helvetica, sans-serif;
}

#top-navigation-container{
  text-align: center;
  background-color:white;
  margin-left: auto;
  margin-right: auto;
  height:100%;
}

#logo{
  float:left;
  font-size: 60px;
  padding-left:75px;
  height: 100%;
}

#logo>img{
  max-width:100%;
  max-height:100%;
}

#logo>span{
  color:red;
}

#top-button-wrapper{
  float:right;
  height:100%;
}

.top-navigation-button{
  color:black;
  height:100%;
  font-size: 28px;
  width:190px;
  display:inline-block;
}

.top-navigation-button>div{
  position:relative;
  top:25%;
}

#body-wrapper{
  background-color: #046791;
  display:block;
}

#left-column{
  border-color:black;
  border:1px solid;
  float:left;
  }

#right-column{
  float:right;
  border-color:black;
  border:1px solid;
  width:20%;
}

#main{
  background-color: gray;
}

footer{
  background-color: white;
  width:inherit;
  margin:auto;
  height:auto;
  clear:both;
  position:fixed;
  bottom:0px;
}

#bot-button-wrapper{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display:inline-block;
  text-align: center;
}

.bot-navigation-button{
  color:black;
  font-size: 16px;
  height:auto;
  width:auto;
  margin:auto;
  display:inline;
  padding-left: 10px;
  padding-right: 10px;
}

#ewish{
  font-size: 12px;
}

@media only screen and (max-width: 1850px) {
    .top-navigation-button{
          color:black;
          font-size: 16px;
          width:100px;
          margin-left:10px;
          margin-right:10px;
          display:inline-block;
    }
}

@media only screen and (max-width: 1300px) {
    .top-navigation-button{
          display: none;
    }
}