/**{
  border: 1px solid black;
}*/

html, body{
  background-color: #94b9db;
}


#page{
  width:70%;
  min-height:1080px;
  margin:auto;
  background-color: white;
}

header{
  background-color: white;
  height: 80px;
  font-family:arial, helvetica, sans-serif;
}

#top-navigation-container{
  text-align: center;
  background-color:white;
  margin-left: auto;
  margin-right: auto;
  height:100%;
}

#logo{
  float:left;
  font-size: 60px;
  padding-left:75px;
  height: 100%;
}

#logo>img{
  max-width:100%;
  max-height:100%;
}

#top-button-wrapper{
  float:right;
  height:100%;
}

.top-navigation-button{
  color:black;
  height:100%;
  font-size: 18px;
  width:140px;
  display:inline-block;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.top-navigation-button.active{
  background-color: #3f6798;
}

.top-navigation-button.active div {
    color:white;
}

.top-navigation-button.inactive{
  background-color: white;
}

.top-navigation-button.inactive div {
    color:black;
}

.top-navigation-button>div{
  position:relative;
  top:35%;
}

#body-wrapper{
  background-color: white;
  display:block;
  min-height: 100%;
}

#left-column{
  float:left;
  width:15%;
  display: inline;
  position: fixed;
  top:150px;
  }

#left-column div a{
  display: inline-block;
  clear:left;
  padding-top:5px;
}

#main{
  background-color: white;
  height:100%;
  display: block;
  text-align: center;
}

#social-sharing{
  display:block;
  clear: both;
  padding-left: 100px;
}

footer{
  background-color: white;
  width:70%;
  margin:auto;
  height:auto;
  position:fixed;
  bottom:0px;
}

#bot-button-wrapper{
  width:auto;
  margin:auto;
  display:block;
  text-align: center;
  border-top: 1px solid red;
}

.bot-navigation-button{
  color:black;
  font-size: 16px;
  height:auto;
  width:auto;
  display:inline;
  margin-left: 10px;
  margin-right: 10px;
}

#ewish{
  padding-top: 3px;
  font-size: 12px;
}

@media only screen and (max-width: 1850px) {
    .top-navigation-button{
          color:black;
          font-size: 16px;
          width:100px;
          margin-left:10px;
          margin-right:10px;
          display:inline-block;
    }
}

@media only screen and (max-width: 1300px) {
    .top-navigation-button{
          display: none;
    }
}

#main_content{
  margin: 50px auto 50px auto;
  display: block;
  width: 80%;
}


h1{
  font-size: 36px;
  font-family: sans-serif, arial, helvetica;
  color: #3f6798;
}

.specialist{
  background-color: #f3f6fa;
  font-family: sans-serif, arial;
  font-size: 16px;
  margin-bottom: 50px;
}

.specialist_title{
  width: 100%;
  font-size: 24px;
  display: block;
  margin-bottom: 25px;
  height: 50px;
}

.specialist_title>div{
  height: auto;
  padding: 13px 0 13px 0;
  border-radius: 20px;
}

#speciality{
  display: inline-block;
  width:40%;
  background-color: #5d8ec1;
  color: white;
}

#specialist_name{
  display: inline-block;
  width:40%;
}

#specialist_text{
  width: 40%;
  display: inline-block;
}

#specialist_photo{
  width: 40%;
  display: inline-block;
}

#specialist_photo>img{
  width: 100%;
}